*.iml
.gradle
/local.properties
.idea
/.gradle/*
/.gradle
/.idea
/.idea/*
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild
gradlew
gradlew.bat
gradle
